USE [master]
GO
/****** Object:  Database [YourResume]    Script Date: 11/15/2017 10:21:46 PM ******/
CREATE DATABASE [YourResume]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YourResume', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\YourResume.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'YourResume_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\YourResume_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YourResume].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YourResume]
GO
/****** Object:  Table [dbo].[tblDocument]    Script Date: 11/15/2017 10:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDocument](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NULL,
 CONSTRAINT [PK_tblDocument] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblDocument] ON 

INSERT [dbo].[tblDocument] ([ID], [Name]) VALUES (1, N'My_CV.pdf')
SET IDENTITY_INSERT [dbo].[tblDocument] OFF
USE [master]
GO
